{% extends "./layouts/parent-layout.view.html" %}

{% block bodyContent %}
  <div class="product-detail">
    <div class="description">
      <h3>{{product['PRD_TITLE']}}</h3>
      <img src="{{product['PRD_IMAGE']}}" alt=""/>

      <div class="caption">
        <p class="prix">{{product['PRD_PRICE']}}</p>

        <p><a class="btn btn-primary" role="button" shape="rect">ACHETER</a></p>

        <strong>Descriptif détaillé :</strong>
        <p class="desc">{{product['PRD_DESCRIPTION']}}</p>

        <strong>Catégorie :</strong>
        <a shape="rect" href="/produits?u={{product['PRD_CATEGORY']}}">{{product['PRD_CATEGORY']}}</a>
      </div>
    </div>

    <div class="comments">
      <h3>Questions / Réponses</h3>
      <ul class="media-list commentaires ">
        {% for comment in product.comments %}
        <li class="media">
          <div class="media-left">
            <a href="#" shape="rect">
              <img class="media-object" src="/resources/img/commentaire.svg" alt="">
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading">{{comment['USR_LOGIN']}}</h4>
            <p>{{comment['COM_CONTENT']}}</p>
          </div>
        </li>
        {% endfor %}
      </ul>

      <div class="row post-comment">
        <div class="col-sm-12">
          <h3>Poser une question</h3>
          <form action="/api/comments" enctype="application/x-www-form-urlencoded" method="post">
            <textarea name="comment" rows="3" class="form-control"></textarea>
            <button class="btn btn-default" type="submit">Soumettre</button>
            <input type="hidden" name="prd_id" value="{{product['PRD_ID']}}"/>
          </form>
        </div>
      </div>

    </div>
  </div>

{{ product | dump }}
{% endblock %}