h3 {
  text-align: center;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 15px;
  font-size: 22px;
}


.thumbnail .caption {
  .category>a {
    text-decoration: underline;
  }
  .category>a.hover {
    text-decoration: none;
  }
  .desc {
    height: 160px;
    overflow: hidden;
  }
  p.btnfp {
    text-align:center;
  }
}