@media (min-width: 1200px) {
.container{
    max-width: 800px;
}

header img {
	width:100%;
}

footer {
	margin-top: 20px;
}
footer .footer-container {
	box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.33);
}

.produit-list .btn-primary {
	width: 100%;
}