@media (min-width: 1200px) {
  .container{
      max-width: 800px;
  }
}

header img {
	width:100%;
}

footer {
	margin-top: 20px;
}
footer .footer-container {
	box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.33);
}

.produit-list img {
	max-height: 200px;
}

.produit-list-catalogue .btn-primary {
	width: 100%;
}

.produit-list-compte-client p{
	text-align: center;
}

.produit-modication .btn-primary {
  margin: auto;
  margin-top:20px;
  display: block;
  width: 80%;
}