@media (min-width: 1200px) {
  .container{
      max-width: 800px;
	  position: relative;
  }
}

header img {
	width:100%;
}

footer {
	margin-top: 20px;
}
footer .footer-container {
    display: inline-block;
    width: 100%;
	box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.33);
}

.nav > li > a {
	text-transform:capitalize;
}

/* Catalogue */
.produit-list img {
	max-height: 180px;
}

.produit-list-catalogue .caption {
  padding: 9px 5px 0;
}

.produit-list-catalogue .caption h3 {
  margin-top:5px;
  height: 55px; /*hauteur fixe a remplacer par du natif bootsrap */
}

.produit-list-catalogue .caption p, .produit-detail-catalogue p {
  text-align: justify;
}

.produit-list-catalogue .caption p.desc{
  height: 160px; /*hauteur fixe a remplacer par du natif bootsrap */
  overflow: hidden;
}

.produit-list-catalogue .caption .prix, 
.produit-detail-catalogue .prix {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}


.produit-list-catalogue .btn-primary, .produit-detail-catalogue .btn-primary {
  width: 100%;
  background-color: #9e9e94;
  border-color: #646454;
  font-size: 15px;
}

.produit-list-catalogue .btn-primary:hover,
.produit-list-catalogue .btn-primary:focus,
.produit-list-catalogue .btn-primary.focus,
.produit-list-catalogue .btn-primary:active,
.produit-list-catalogue .btn-primary.active,
.produit-list-catalogue .open > .dropdown-toggle.btn-primary, 
.produit-detail-catalogue .btn-primary:hover,
.produit-detail-catalogue .btn-primary:focus,
.produit-detail-catalogue .btn-primary.focus,
.produit-detail-catalogue .btn-primary:active,
.produit-detail-catalogue .btn-primary.active,
.produit-detail-catalogue .open > .dropdown-toggle.btn-primary {
  background-color: #7E7E76;
  border-color: #646454;
}




/* Detail produit descriptif */

.produit-detail-catalogue .descriptif {
  display: inline-block;
}

.produit-detail-catalogue img {
  float: left;
  padding: 0 30px 0 10px;
  width: 50%;
  max-width: 360px;
}

.produit-detail-catalogue div.caption {
  margin-left:370px;
}


.produit-detail-catalogue .prix {
  font-size: 40px;
}

.produit-detail-catalogue .btn {
  font-size: 20px;
  margin: 25px 0 40px 0;
}


/* Detail produit commentaires */
.post-comment button {
  width: 100%;
  margin-top: 10px;
}



/* Compte client */

.produit-list-compte-client p{
	text-align: center;
}

.produit-modication .btn-primary {
  margin: auto;
  margin-top:20px;
  display: block;
  width: 80%;
}


/* columns of same height styles */

.row-height {
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
}
.col-height {
  display: table-cell;
  float: none;
  height: 100%;
}


/* failles.html */

.hint .hint-title {
  display: inline-block;
  font-weight: bold;
  vertical-align: top;
}
.hint .hint-content {
  display: inline-block;
}
.hint .hint-closed {
  cursor: pointer;
}


/* avatar user connecté */
.user_connected_ban {
  position: absolute;
  width: 120px;
  right: -120px;
}

.user_connected {
  position: fixed;
  width: 120px;
}




.nodisplay { display: none !important; }