<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<body>
    
    <section class="row failles-connues">
      <div class="col-sm-12">
        <h1>Failles connues</h1>
        
        
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Injection SQL sur la connexion</h3>
          </div>
          <div class="panel-body">
            <strong>Conséquence :</strong> Possibilité de se connecter sans connaitre les identifiants
            <br /><strong>Exploitation (indice 1) :</strong> Le champ login est vulnérable
            <br /><strong>Exploitation (indice 2) :</strong> La requête HQL est la suivante :
            <pre>
  StringBuilder sb = new StringBuilder();
  sb.append("SELECT u FROM " + Utilisateur.class.getName() + " u");
  sb.append(" WHERE pwd='" + password + "'");
  sb.append(" AND login='" + login + "'");

            </pre> 
            <strong>Exploitation (solution) :</strong> rentrer le code ci-dessous dans l'input login 
            <pre>' OR '1'='1</pre>
          </div>
        </div>
        
        
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Injection SQL sur la listes des produits par catégories</h3>
          </div>
          <div class="panel-body">
            <strong>Conséquence :</strong> Possibilité de lister n'importe quelle table de la base
            <br /><strong>Exploitation (indice 1) :</strong> Le paramètre "u" de l'url est vulnérable
            <br /><strong>Exploitation (indice 2) :</strong> Les informations remontées par la requête sont les suivantes :
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Information</th>
                  <th>Type</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Identifiant produit</td>
                  <td>Integer</td>
                </tr>
                <tr>
                  <td>Titre</td>
                  <td>String</td>
                </tr>
                <tr>
                  <td>Description</td>
                  <td>String</td>
                </tr>
                <tr>
                  <td>Prix</td>
                  <td>Double</td>
                </tr>
                <tr>
                  <td>Image</td>
                  <td>String</td>
                </tr>
                <tr>
                  <td>Categorie</td>
                  <td>String</td>
                </tr>
                <tr>
                  <td>Identifiant utilisateur</td>
                  <td>Integer</td>
                </tr>
                <tr>
                  <td>Login utilisateur</td>
                  <td>String</td>
                </tr>
              </tbody>
              
            </table>
            <strong>Exploitation (indice 3) :</strong> La table des utilisateurs s'appelle <i>UTILISATEUR</i>
            <br /><strong>Exploitation (solution) :</strong> il faut forger une url de la sorte
            <pre>/produits?u=bijou' UNION SELECT UTI_ID, UTI_LOGIN, UTI_PWD, 1.0, '/resources/img/pirate.png', 'hack', UTI_ID, UTI_LOGIN FROM UTILISATEUR WHERE '1'='1"</pre>
          </div>
        </div>
        
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">XSS sur les commentaires</h3>
          </div>
          <div class="panel-body">
            <strong>Conséquence :</strong> Exécution de code javascript lors de l'affichage des commentaires.
            <br /><strong>Exploitation (indice 1) :</strong> Poster un commentaire contenant du javascript
            <br /><strong>Exploitation (solution) :</strong> se connecter et poster le commentaire suivant
            <pre>&lt;script&gt;alert("XSS")&lt;/script&gt;</pre>
          </div>
        </div>
        
        
        <ul>
          <li>Compte client : aucune vérification de l'appartenance du produit au client. Possibilité de modifier un produit qui n'est 
            pas le sien en devinant l'identifiant dans l'url</li>
        </ul>
      </div>
    </section>
    
	
</body>
</html>