<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<body>

	<footer class="row">
      <div class=" col-sm-12">
        <ul class="list-unstyled footer-container">
          <li><a class="glyphicon glyphicon-blackboard" href="http://www.google.fr"> Slides</a></li>
          <li><a class="glyphicon glyphicon-file" href="http://www.google.fr"> Code</a></li>
          <li><a class="glyphicon glyphicon-user" href="http://www.google.fr"> Auteur</a></li>
        </ul>
      </div>
    </footer>
	
	
</body>
</html>