<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org">
<body>



  <header id="header" th:fragment="header">
    <img src="/resources/img/banniere1.jpg" alt="" />

    <!-- Static navbar -->
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a th:href="@{/}" th:text="#{nav.elt1}">ELT1</a></li>
            <li><a th:if="${session.utilisateur} != null" th:href="@{/compte/{utilisateurId}/produits(utilisateurId=${session.utilisateur.techid})}" th:text="#{nav.elt2}">ELT2</a></li>
          </ul>

            <ul class="nav navbar-nav navbar-right">
              <li th:if="${session.utilisateur} == null"><a href="/authentification" th:text="#{nav.compte.non_connecte}">CPT</a></li>
              <li th:if="${session.utilisateur} != null"><a href="/authentification" th:text="#{nav.compte.connecte(${session.utilisateur.login})}">Bienvenue</a></li>
          </ul>
        </div>

        <!--/.nav-collapse -->
      </div>
      <!--/.container-fluid -->
    </nav>
  </header>



</body>
</html>