<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<body>

	<section class="row produit-list">
      <div th:each="prod : ${produits}" class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img th:src="${prod.image}" alt="" />
          <div class="caption">
            <h3 th:text="${prod.titre}"></h3>
            <p th:text="${prod.description}"></p>
            <p><a th:href="'/produit/'+${prod.techid}" class="btn btn-primary" role="button">Acheter</a></p>
          </div>
        </div>
      </div>
    </section>
	
	
</body>
</html>