<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<title th:text="#{title}">Titre</title>
	
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	
	<link rel="stylesheet" type="text/css" media="all" th:href="@{/resources/css/bootstrap.css}" />
<!-- 	<link rel="stylesheet" type="text/css" media="all" th:href="@{/resources/css/bottstrap-theme.css}" /> -->
	<link rel="stylesheet" type="text/css" media="all" th:href="@{/resources/css/style.css}" />

	<script th:src="@{/resources/js/jquery.min.js}" />
	<script th:src="@{/resources/js/bootstrap.min.js}" />
  	<script th:src="@{/resources/js/scripts.js}" />
</head>
<body>
	<div class="container">
	 <div class="user_connected_ban">
		<img class="user_connected" src="/resources/img/users/oscar.png" alt="changer d'utilisateur"/>
  	 </div>
	 <header th:replace="fragments/header :: header"></header> 
     <div th:replace="${tpl_middle.html} :: ${tpl_middle.frg}"></div>
  	 <footer th:replace="fragments/footer :: footer"></footer>
	</div>
</body>
</html>