body {
  background-color: #fff;
  color: #333;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px; }

.container {
  max-width: 800px;
  position: relative; }

header img {
  width: 100%; }

header .navbar {
  min-height: 30px; }

header .navbar, header .navbar-default {
  border-radius: 0 !important; }

header .navbar-nav {
  float: left;
  margin-left: 0; }

header .navbar-nav.navbar-right {
  float: right;
  margin-right: 0; }

header .nav > li > a {
  text-transform: capitalize; }

@media screen and (max-width: 767px) {
  header .nav > li > a {
    padding: 3px 10px; } }

.price {
  font-weight: bold;
  font-size: 20px;
  color: #1B1B1B;
  text-align: center; }

h3 {
  text-align: center;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 15px;
  font-size: 22px;
  height: 48px; }

h1 {
  padding-bottom: 10px; }
  h1 img {
    height: 50px; }

.thumbnail .caption .category > a {
  text-decoration: underline; }

.thumbnail .caption .category > a.hover {
  text-decoration: none; }

.thumbnail .caption .desc {
  height: 160px;
  overflow: hidden; }

.thumbnail .caption p.btnfp {
  text-align: center; }

.product-detail h3 {
  font-size: 30px; }

.product-detail .description .desc {
  text-align: justify; }

.product-detail .comments {
  margin-top: 40px;
  padding: 10px 120px;
  background-color: #f7f7f7; }
  .product-detail .comments h2 {
    font-size: 20px;
    padding-left: 10px; }
  .product-detail .comments h2, .product-detail .comments h4 {
    font-weight: bold; }
  .product-detail .comments li {
    border-bottom: 1px solid #C4C4C4; }
  .product-detail .comments li p {
    font-style: italic; }
  .product-detail .comments button {
    float: right;
    margin-top: 4px; }
